* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Material Icons", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

code {
  font-family: "Roboto", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#theme {
  display: none;
}

#theme:checked ~ * {
  filter: invert(1);
}

.App {
  width: 100%;
  min-height: 100vh;
  background: white;
}

.main {
  max-width: 1000px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  overflow: auto;
}

img {
  object-fit: cover;
}

.mode {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* ------------AUTH-------------- */
@import url("./auth.css");

/* ------------LOADING-------------- */
@import url("./loading.css");

/* ------------HEADER-------------- */
@import url("./header.css");

/* ------------AVATAR-------------- */
@import url("./avatar.css");

/* ------------PROFILE-------------- */
@import url("./profile.css");

/* ------------HOME-------------- */
@import url("./home.css");

/* ------------STATUS MODAL-------------- */
@import url("./status_modal.css");

/* ------------COMMENT-------------- */
@import url("./comment.css");

/* ------------POST_THUMB-------------- */
@import url("./post_thumb.css");

/* ------------MESSAGE-------------- */
@import url("./message.css");

/* ------------ICON-------------- */
@import url("./icons.css");

/* ------------CALL MODAL-------------- */
@import url("./call_modal.css");

/* -------------RESPONSIVE--------------- */
@media (max-width: 766px) {
  .header .navbar .logo {
    display: none;
  }

  .header .menu {
    width: 100%;
    height: 40px;
  }

  .header .menu .navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header .search-form {
    width: 100%;
  }

  .header .search-form input {
    height: 36px;
  }

  .header .logo {
    margin: auto;
  }

  .header .logo h1 {
    font-size: 1.5rem;
  }

  .message {
    height: calc(100vh - 100px);
  }

  .right-message,
  .left-message {
    display: none;
  }

  .status {
    padding: 20px 10px;
  }
}
