.message {
  width: 100%;
  height: calc(100vh - 100px);
  border: 1px solid #ddd;
  margin-top: 10px;
  border-radius: 3px;
  background: #fbfbfb;
}

.message-header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
}

.message-header input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background: #f8f8f8;
  padding: 0 5px;
}

.message-chat-list {
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: auto;
}

.message-chat-list .message-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #f3f3f3;
  color: #555;
  cursor: pointer;
}

.message-chat-list .message-user.active {
  background: #eee;
}

.message-chat-list .message-user a {
  color: #555;
}

.message-chat-list .message-user a:hover {
  text-decoration: none;
}

.message-chat-list .message-user .fa-circle {
  font-size: 8px;
  color: #aaa;
}

.message-chat-list .message-user .fa-circle.active {
  color: green;
}

/* ----------------CHAT INPUT------------------- */
.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-top: 1px solid #ddd;
}

.chat-input input {
  width: 100%;
  height: 49px;
  border: none;
  outline: none;
}

.chat-input button {
  border: none;
  outline: none;
  background: white;
}

.chat-input .file-upload {
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}

.chat-input .file-upload #file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.show-media {
  width: 100%;
  height: 70px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  place-items: center;
  grid-gap: 10px;
  background: #f3f3f3;
  border-radius: 5px;
  padding: 0 5px;
}

.show-media #file-media {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 70px;
  max-height: 70px;
}

.show-media #file-media img,
.show-media #file-media video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.show-media #file-media span {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  background: white;
  border: 1px solid crimson;
  padding: 3px 7px;
  color: crimson;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}
/* ----------------CHAT CONTAINER------------------- */
.chat-container {
  width: 100%;
  height: calc(100% - 110px);
  overflow-y: auto;
  padding: 0 10px;
}

.chat-display {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-row {
  display: grid;
  grid-template-columns: 70%;
  margin-bottom: 10px;
}

.your-message {
  justify-content: end;
  justify-items: end;
}

.other-message {
  justify-content: start;
  justify-items: start;
}

.chat-text {
  padding: 9px 14px;
  margin-bottom: 5px;
}

.chat-time {
  font-size: 13px;
  color: #777;
}

.your-message .chat-text {
  background: #468aeb;
  color: white;
  border: 1px solid #468aeb;
  border-radius: 14px 14px 0 14px;
}

.other-message .chat-text {
  background: white;
  color: #111;
  border: 1px solid #ddd;
  border-radius: 14px 14px 14px 0;
}

.chat-title {
  margin-bottom: 3px;
}
